<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý phòng khám</title>
    <link rel="stylesheet" href="csdl.css">
</head>

<body>
    <%- include('partials/header') %>
    <div class="main">
        <h1>Phần mềm eHealth quản lý phòng khám</h1>
        <h2>10 tính năng cốt lõi</h2>
        <div class="frame">
            <div class="line1">
                <a href="/csdlbacsi">
                    <div class="box">
                        <img src="bacsi.png" width="50px">
                        <div><span class="circle-number">1</span>Bác sĩ</div>
                        <p>Mỗi bệnh nhân là một câu chuyện, và bác sĩ là người lắng nghe với tất cả trái tim.</p>
                    </div>
                </a> 
                <a href="/csdlbenhnhan">
                    <div class="box">
                        <img src="benhnhan.png" width="50px">
                        <div><span class="circle-number">2</span>Bệnh nhân</div>
                        <p>Sự hài lòng và sức khỏe của bạn là động lực để chúng tôi cố gắng mỗi ngày.</p>
                    </div>
                </a>
                <a href="/csdldonthuoc">
                    <div class="box">
                        <img src="donthuoc.png" width="50px">
                        <div><span class="circle-number" >3</span>Đơn thuốc</div>
                        <p>Hỗ trợ bác sĩ kê toa nhanh thông qua gợi ý chẩn đoán bệnh, các toa thuốc mẫu, lịch sử các lần khám chữa bệnh ...</p>
                    </div>
                </a>
                <a href="/csdlchitiethoadon">
                    <div class="box">
                        <img src="thuoc.png" width="50px">
                        <div><span class="circle-number">10</span>Chi tiết hóa đơn</div>
                        <p>Luôn đọc kỹ hướng dẫn trước khi dùng, và hỏi bác sĩ nếu có bất kỳ thắc mắc nào.</p>
                    </div>
                </a>
            </div>
            <div class="line2">  
                <a href="/csdlhoadon">
                    <div class="box">
                        <img src="hoadon.png" width="50px">
                        <div><span class="circle-number">4</span>Hóa đơn</div>
                        <p>Phiếu thanh toán/ phiếu tính tiền liên kết được với toa thuốc và hồ sơ sức khỏe, có thể thanh toán tiền 1 lần hay nhiều lần.</p>
                    </div>
                </a>
                <a href="/csdlhososuckhoe">
                    <div class="box">
                        <img src="hososuckhoe.png" width="50px">
                        <div><span class="circle-number">5</span>Hồ sơ sức khỏe</div>
                        <p>Quản lý hồ sơ sức khỏe của bệnh nhân: huyết áp, mạch, các chỉ định cận lâm sàng, lịch sử khám chữa bệnh ...</p>
                    </div>
                </a>
                <a href="/csdllichhen">
                    <div class="box">
                        <img src="lichhen.png" width="50px">
                        <div><span class="circle-number">6</span>Lịch hẹn</div>
                        <p>Dựa theo lịch tái khám và lịch đăng ký khám lần đầu để tổng hợp lịch làm việc hàng ngày của phòng khám.</p>
                    </div>
                </a>
                <a href="/csdlnguoithan">
                    <div class="box">
                        <img src="nguoithan.png" width="50px">
                        <div><span class="circle-number">7</span>Người thân</div>
                        <p>Sự kiên nhẫn và tình cảm của bạn đã giúp người thân thêm vững vàng vượt qua bệnh tật.</p>
                    </div>
                </a>
            </div>  
            <div class="line3">  
                <a href="/csdlnhanvien">
                    <div class="box">
                        <img src="nhanvien.png" width="50px">
                        <div><span class="circle-number">8</span>Nhân viên</div>
                        <p>Đội ngũ nhân viên phòng khám luôn đặt sức khỏe và sự hài lòng của bệnh nhân lên hàng đầu.</p>
                    </div>
                </a>
                <a href="/csdlphieukham">
                    <div class="box">
                        <img src="phieukham.png" width="50px">
                        <div><span class="circle-number">9</span>Phiếu khám</div>
                        <p>Từ họ tên, mã số, đến chuyên khoa – mọi thứ đều rõ ràng để bạn yên tâm khám bệnh.</p>
                    </div>
                </a>
                <a href="/csdlthuoc">
                    <div class="box">
                        <img src="thuoc.png" width="50px">
                        <div><span class="circle-number">10</span>Thuốc</div>
                        <p>Luôn đọc kỹ hướng dẫn trước khi dùng, và hỏi bác sĩ nếu có bất kỳ thắc mắc nào.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>              
    <%- include('partials/footer') %>
</body>

</html>