<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Navbar</title>
  <style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #fff4e7;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff4e7;
      padding: 10px 20px;
    }
    .navbar a {
      color: rgb(52,99,115);
      padding: 8px 16px;
      text-decoration: none;
    }

    .brand-name{
    color: rgb(52,99,115); 
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 920px;
    }
  </style>
</head>
<body>
  <div class="navbar">
    <div class="logo"><img src="phongkham.png" width="50px"></div>
    <div class="brand-name">eHealth</div>
    <div>
      <a href="/">Trang chủ</a>
      <a href="#">Giới thiệu</a>
      <a href="#">Dịch vụ</a>
      <a href="#">Liên hệ</a>
    </div>
  </div>
</body>
</html>
